/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
/.env
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea
/mailoutput/*
/storage/app/*
/storage/framework/catch/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
storage/locks/*
bin/deployment/configs/
/wkhtmltopdf
